.teamSpan {
  display: inline-block;
  background-color: #cfe0db;
  border-radius: 30px;
  font-size: 20px;
  padding-left: 6%;
  padding-right: 6%;
  cursor: pointer;
  color: black;

  text-align: center;
}

span:hover {
  background-color: #00796b;
  color: white;
}

/* span:hover{
    background-color: blue;
    color:white;
} */
.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.gridImage {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  align-self: center;
}

p {
  font-size: large;
}

.gridItem {
  cursor: pointer;
}

.gridItem:hover {
  background-color: #f5f5dc;
}

h4 {
  color: white;
}
a {
  text-decoration: none;
}
